body {
    font-family: 'Prompt', sans-serif;
}


.banner h1 {
    font-size: 70px;
    color: white;
}

.banner {
    text-align: center;
}

.banner p {
    text-align: center;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

.text-2 {
    text-align: center;
}

.text-2 h1 {
    font-size: 80px;
}


.child1 {
    height: 150px;
    width: 150px;
    margin: 30px;
    background-color: rgb(253, 241, 243);
    margin-bottom: 100px;
    border-radius: 20px;
    padding: 20px;
}

.dis-play {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.dis-play p {
    color: gray;
}

.di1 {
    background-color: rgb(235, 235, 235);
    width: 30%;
    margin: 30px;
    border-radius: 5px;
    padding: 20px;
}

.di2 {
    background-color: rgb(255, 231, 227);
    width: 30%;
    border-radius: 5px;
    margin: 30px;
    padding: 20px;
}

.di3 {
    background-color: rgb(255, 255, 230);
    width: 30%;
    border-radius: 5px;
    margin: 30px;
    padding: 20px;
}

.donate-opn {
    text-align: center;
}

.child1 h1 {
    text-align: center;
    color: gray;
    font-weight: 700;
    padding-top: 40px;
    font-size: 45px;
}

.child2 {
    height: 150px;
    width: 150px;
    margin: 30px;
    background-color: rgb(253, 241, 243);
    margin-bottom: 100px;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid tomato;
}

.child2 h1 {
    text-align: center;
    color: tomato;
    font-weight: 700;
    padding-top: 40px;
    font-size: 45px;
}

.child3 {
    height: 150px;
    width: 150px;
    margin: 30px;
    background-color: rgb(253, 241, 243);
    margin-bottom: 100px;
    border-radius: 20px;
    padding: 20px;
}

.child3 h1 {
    text-align: center;
    color: gray;
    font-weight: 700;
    padding-top: 40px;
    font-size: 45px;
}

.child4 {
    height: 150px;
    width: 150px;
    margin: 30px;
    background-color: rgb(253, 241, 243);
    margin-bottom: 100px;
    border-radius: 20px;
    padding: 20px;
}

.child4 h1 {
    text-align: center;
    color: gray;
    font-weight: 700;
    padding-top: 40px;
    font-size: 45px;
}

.child5 {
    height: 150px;
    width: 150px;
    margin: 30px;
    background-color: rgb(253, 241, 243);
    margin-bottom: 100px;
    border-radius: 20px;
    padding: 20px;
}

.child5 h1 {
    text-align: center;
    color: gray;
    font-weight: 700;
    padding-top: 40px;
    font-size: 45px;
}


.sec-parent {
    display: flex;
    justify-content: center;
}


.text-2 p {
    font-size: 20px;
}

.sec-1 {
    background-image: url(images/donate-png.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}

.inside {
    padding-top: 100px;
}

.donate-opn input {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    padding: 20px 340px;
    border-style: none;
    opacity: 20%;
    border-bottom: 2px solid black;
}

.text-3 h1 {
    text-align: center;
    font-size: 80px;
}

.text-3 p {
    text-align: center;
    color: gray;
}

.pi1 h1 {
    font-size: 80px;
}

.pi1 {
    width: 50%;
    margin: 50px;
}

.pi2 {
    width: 50%;
    margin: 50px;
}

.flex-pi {
    display: flex;
    margin: 50px;
}

.flex-pi pi1 {
    width: 50%;
}


.text-10 {
    text-align: center;
}

.text-10 h1 {
    font-size: 80px;
}

.btn-in {
    text-align: center;
    border-radius: 10px;
    background-color: cornsilk;
    height: 300px;
    width: 70%;
    margin: 0 auto;
}

.btn-in input {
    border-style: none;
    margin-top: 100px;
    padding: 20px 50px;
    font-size: 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.btn-in button {
    border-style: none;
    padding: 20px 50px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    background-color: rgb(255, 166, 150);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-in button:hover {
    cursor: pointer;
}


.flex-pi img {
    width: 100%;
    border-radius: 10px;
}

.footer-class h3 {
    font-family: 'Play', sans-serif;
    font-family: 'Prompt', sans-serif;
}

.footer-class {
    background-color: #00010e;
    height: 300px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
}


.donate-btn {
    text-decoration: none;
    font-size: 30px;
    background-color: rgb(255, 142, 122);
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 10px;
}